#
#  Copyright (c) 2018-2020 Red Hat, Inc.
#    This program and the accompanying materials are made
#    available under the terms of the Eclipse Public License 2.0
#    which is available at https://www.eclipse.org/legal/epl-2.0/
#
#  SPDX-License-Identifier: EPL-2.0
#
#  Contributors:
#    Red Hat, Inc. - initial API and implementation
apiVersion: apps/v1
kind: Deployment
metadata:
  name: codeready-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: codeready-operator
  template:
    metadata:
      labels:
        app: codeready-operator
    spec:
      containers:
        - name: codeready-operator
          image: registry.redhat.io/codeready-workspaces/crw-2-rhel8-operator:latest
          ports:
            - containerPort: 60000
              name: metrics
          command:
            - /usr/local/bin/che-operator
          imagePullPolicy: Always
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: codeready-operator
            - name: CHE_VERSION
              value: 2.3.0.GA
            - name: RELATED_IMAGE_che_server
              value: quay.io/eclipse/che-server:7.16.0
            - name: RELATED_IMAGE_plugin_registry
              value: quay.io/eclipse/che-plugin-registry:7.16.0
            - name: RELATED_IMAGE_devfile_registry
              value: quay.io/eclipse/che-devfile-registry:7.16.0
            - name: RELATED_IMAGE_che_tls_secrets_creation_job
              value: quay.io/eclipse/che-tls-secret-creator:alpine-3029769
            - name: RELATED_IMAGE_pvc_jobs
              value: registry.access.redhat.com/ubi8-minimal:8.2-301.1593113563
            - name: RELATED_IMAGE_postgres
              value: centos/postgresql-96-centos7:9.6
            - name: RELATED_IMAGE_keycloak
              value: quay.io/eclipse/che-keycloak:7.16.0
            - name: RELATED_IMAGE_che_workspace_plugin_broker_metadata
              value: quay.io/eclipse/che-plugin-metadata-broker:v3.2.0
            - name: RELATED_IMAGE_che_workspace_plugin_broker_artifacts
              value: quay.io/eclipse/che-plugin-artifacts-broker:v3.2.0
            - name: RELATED_IMAGE_che_server_secure_exposer_jwt_proxy_image
              value: quay.io/eclipse/che-jwtproxy:fd94e60
            - name: CHE_FLAVOR
              value: codeready
            - name: CONSOLE_LINK_NAME
              value: che
            - name: CONSOLE_LINK_DISPLAY_NAME
              value: CodeReady Workspaces
            - name: CONSOLE_LINK_SECTION
              value: Red Hat Applications
            - name: CONSOLE_LINK_IMAGE
              value: /dashboard/assets/branding/loader.svg
            - name: CHE_IDENTITY_SECRET
              value: che-identity-secret
            - name: CHE_IDENTITY_POSTGRES_SECRET
              value: che-identity-postgres-secret
            - name: CHE_POSTGRES_SECRET
              value: che-postgres-secret
            - name: CHE_SERVER_TRUST_STORE_CONFIGMAP_NAME
              value: ca-certs
      restartPolicy: Always
      serviceAccountName: codeready-operator
      terminationGracePeriodSeconds: 5
